/* Login */
.login {
    min-height: 60vh;
}

.login__line{
    width: 2px;
    height: 7.5rem;
    position: relative;
    background-color: #000;
}

/* Sign Up */
.noColor {
    border-color: #dc354500;
}
.agreement {
    font-size: 13px;
    line-height: 1.6;
    color: rgba(0,0,0,.54);
}

.facebookLogin {
    margin-top: 4px;
    font-family: Helvetica,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: background-color .3s,border-color .3s;
    background-color: #4c69ba;
    border: calc(.06887vw + .67769px) solid #4c69ba;
    padding: 10px 20px;
}
.googleLogin { 
    padding: 2px 14px !important;
    font-size: 1rem !important;
}

.heightForm {
    line-height: 1;
}

.signup__line{
    width: 2px;
    height: 16.3rem;
    position: relative;
    background-color: #000;
}

@media(max-width: 767px){
    .login__line{
      width: 90%;
      height: 2px;
    }
    .signup__line{
      width: 90%;
      height: 2px;
    }
  }