/* Deals */
.whenText {
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.input-group {
  display: inline-flex;
}

.btn-width {
  min-width: 180px;
}

.filterbutton {
  margin-bottom: 15px;
}

.background {
  background-color: black;
}

.img-thumbnail {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  background-color: #fff0;
  border: 1px solid #fff0;
  border-radius: 0rem;
}

.deal-tittle {
  color: #ec0000;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.45;
}

/* FILTER */
.btn-height {
  height: 35px;
}

/* ReportPopUp */
.textArea {
  width: 90%;
}

/* DEAL */
.field-name {
  font-weight: 600;
} 

.font-content {
  font-size: 1.25rem;
}

.thumbnail-review{        
  width : 200px;
  height: 200px;
  border-radius: 50%;
}

/* ADD DEAL FORM */
.input-text2 {
  font-size: 12px;
}

.require {
  color: red;
  font-size: 17px;
}

.hover-img {
  position: relative;
}

.hover-img span {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 9999;
}

input:hover .hover-img span {
  top: 20px;
  left: 0;
}

/* ALL DEALS */
.search {
  height: 50px;
}

.figure-caption {
  padding-right: 5px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container2-item-btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 0px 15px;
}

.space-down {
  padding-bottom: 35px;
}

.dropdown-padding-bottom {
  padding-top: 37px;
}

.text--sectionTitle {
  font-size: 15px;
  line-height: 1.45;
  color: #2e3e48;
  font-weight: 600;
  margin-top: -16px;
}

.btn-details {
  font-size: 12px;
}

.space-all {
  padding-top: 14px;
  padding-right: 18px;
  padding-bottom: 14px;
  padding-left: 18px;
}

.flex--row>.flex-item:first-child {
  padding-left: 0;
}

.flex>.flex-item--shrink {
  -ms-flex-negative: 0;
  -ms-flex-positive: 0;
  -ms-flex-preferred-size: auto;
  -webkit-box-flex: 0;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: auto;
}

.groupDeals{
  -webkit-box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
  box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
}

.groupCard {
  height: 100%;
}

.card {
  position: static;
}

.flex--column {
  -ms-flex-align: flex;
  -ms-flex-direction: column;
  -ms-flex-pack: start;
  -webkit-box-align: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-sizing: border-box;
  align-items: flex;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.flex--column:hover {
  -ms-transform: scale(1.5);  /*IE*/
  -webkit-transform: scale(1.5); /*Safari 3-8*/
  transform: scale(1.01);
}

.flex--column>.flex-item {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  padding-left: 0;
  width: 100%;
}

.imagePreview {
  max-width:100%;
  max-height:auto;
}

@media (max-width:600px){
  /* Deal */
  .img-thumbnail {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0rem;
  }
  .background {
    background-color: #fffefe;
  }
  
  .direcions {
    font-size: 14px;
  }
  .deal-tittle {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 1px;
  }
  
  .addReview {
    margin-left: -26px;
  }
  .img-reviewer {
    text-align: center;
  }

  .author-div {
    text-align: center;
    padding-left: 0px;
  }
  .author-name {
    margin-top: 0px;
    padding-bottom: 7px;
  }

  .thumbnail-review {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    height: 100px;
    width: 112px;
  }

  .helpful {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .spinner {
    width: auto;
    margin: auto;
    display: block;
  }
}