/* USER PROFILE */
.checkbox {
    /* grid mode */
    display: grid;
    /* template col implicid ,  */
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
}
  
.checkbox-box{
    margin-right: 3px;
}
  
.start-img {
    height: 150px;

}

.profile-text {
    color: white;
}

.profile-title {
    padding-left: 10px;
}

.profile-icon{
    font-size: 2rem !important;
}

.profile-icon__remove{
    color: #6e6464;
    cursor: pointer;
  }

.profile-dealName{
    font-size: 1.4rem;
    text-align: left;
}

.backgroundProfile {
    background-image: url("/images/b2.jpg");
    background-position: center; 
    height: 450px;
    /* opacity: 0.5; */
    z-index: 1;
    /* background-color: rgb(144, 3, 3); */
    background-color: #F44336;
    /* background-color: rgb(253, 1, 220); */
    background-blend-mode: darken;
    position: relative;
}

.thumbnail-user-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
  
.userLabel {
    position: absolute;
    margin-left: 140px;
    background-color: transparent;
    border-color: white;
}

.fa-medal:before {
    content: "\f5a2";
    font-size: x-large;
}

.noActiveButton{
    background-color: blue;
    color: white;
    padding: .3rem 1rem;
    cursor: pointer;
}
  
.activeButton{
    background-color: white;
    color: black;
    padding: .3rem 1rem;
}

.list-content {
    -ms-flex-pack: center!important;
    justify-content: center!important;
    background-color: #ccbcbc14;
    padding-top: 30px;
    padding-bottom: 50px;
}

.listPostUser {
    -webkit-box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
    box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
    width: 80%;
    padding-top: 10px;
    background-color: white;
}

.feedPostDescription {
    text-align: left;
}

.post-title {
    font-size: 15px;
    font-weight: 550;
    line-height: 1.1;
    padding-top: 15px;
}

.img-profile {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    background-color: #fff0;
    border: 1px solid #fff0;
    border-radius: 0rem;
}
  
.parrographPadding {
    margin-top: 4px;
    margin-bottom: 4px;
  
}

.messageImg {
    width: 100%;
}
@media (max-width:600px)  {
    /* USER */
    .thumbnail-user-profile {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-top: 50px;
    }


    .listPostUser {
        width: 100%;
    }

    .start-img {
        height: 50px;
    }

    .wh:after {
        content: "";
        position: absolute;
        border-top: 5px solid rgb(255, 240, 240);
        left: 25%;
        bottom: 0;
        width: 50%;
        height: 0.2px;
        margin-bottom: -10px;
    }
}